<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" />
    <head>
        <link rel="shortcut icon" href="styles/img/free-icon-cinema-2809590.png" type="image/png">
    </head>
    <title>Cinema</title>
  </head>
  <body>
    <div class="head">
        <div class="container">
            <div class="inner-nav">
                <div class="header-cell">
                    <a th:href="@{/getIndex}" class="header-logo">
                        <span class="logo_text">Киноафиша</span>
                    </a>
                </div>
                <div class="account-button">
                    <a class="acc" th:if="${user.username == 'Account'}" th:href="@{/loginPage}">
                        <span th:text="${user.username}"></span>
                    </a>
                    <a class="acc" th:if="${user.username != 'Account'}" th:href="@{/logout}">
                        <span th:text="${user.username}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
 <div class="featured" id="featured-id" th:object="${ticket}">
            <div class="container">
                <div class="film-box-session">
                    <div class="box">
                          <form th:action="@{/buyTicket}" method="POST">
                               <input type="hidden" name="id" th:field="${film.id}"/>
                               <input type="hidden" name="username" th:field="${user.username}"/>
                               <input type="hidden" name="cell" th:field="${ticket.cell}"/>
                               <input type="hidden" name="row" th:field="${ticket.row}"/>
                                <div class="form-group">
                                     <label th:text="${film.name}"></label>
                                </div>
                              <div class="form-group">
                                  <label for="ticket.cell">Ряд</label>
                                  <p name="cell" th:text="${ticket.cell}"></p>
                              </div>
                              <div class="form-group">
                                  <label for="ticket.row">Место</label>
                                  <p name="row" th:text="${ticket.row}"></p>
                              </div>
                              <button type="submit" class="btn btn-outline-primary">Купить</button>
                          </form>
                          <a th:href="@{/getIndex}"><button class="btn btn-outline-primary">Отмена</button></a>
                    </div>
                </div>
            </div>
 </div>

    <footer class="copyright-session">
        <div class="container">
            <div class="copyright-text-session">
                © 2022 Brand All Rights Reserved.
            </div>

        </div>
    </footer>
  </body>
</html>