<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" />
    <head>
        <link rel="shortcut icon" href="styles/img/free-icon-cinema-2809590.png" type="image/png">
    </head>
    <title>Cinema</title>
  </head>
  <body>
    <div class="head">
        <div class="container">
            <div class="inner-nav">
                <div class="header-cell">
                    <a th:href="@{/getIndex}" class="header-logo">
                        <span class="logo_text">Киноафиша</span>
                    </a>
                </div>
                <div class="account-button">
                    <a class="acc" th:if="${user.username == 'Account'}" th:href="@{/loginPage}">
                        <span th:text="${user.username}"></span>
                    </a>
                    <a class="acc" th:if="${user.username != 'Account'}" th:href="@{/logout}">
                        <span th:text="${user.username}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="featured" id="featured-id" th:object="${film}">
            <div class="container">
                <div class="film-box-session">
                    <div class="box">
                        <img class="image-background" name="img" id="img" th:src="@{|/images/${film.id}|}">
                        <h3 class="box-title" name="name" id="name" th:text="*{name}"></h3>
                        <p class="box-content" name="description" id="description" th:text="*{description}"></p>
                          <form th:action="@{/buy}" method="GET">
                          <input type="hidden" name="id" th:field="${film.id}"/>
                          <input type="hidden" name="username" th:field="${user.username}"/>
                                <div class="row pt-3">
                                    <table class="table table-bordered border-primary">
                                        <thead>
                                        <tr>
                                            <th scope="col">Ряд</th>
                                            <th scope="col">1</th>
                                            <th scope="col">2</th>
                                            <th scope="col">3</th>
                                            <th scope="col">4</th>
                                            <th scope="col">5</th>
                                            <th scope="col">6</th>
                                            <th scope="col">7</th>
                                            <th scope="col">8</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row" name="row">1</th>
                                            <td><input type="radio" name="place" value="1"></td>
                                            <td><input type="radio" name="place" value="2"></td>
                                            <td><input type="radio" name="place" value="3"></td>
                                            <td><input type="radio" name="place" value="4"></td>
                                            <td><input type="radio" name="place" value="5"></td>
                                            <td><input type="radio" name="place" value="6"></td>
                                            <td><input type="radio" name="place" value="7"></td>
                                            <td><input type="radio" name="place" value="8"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button type="submit">Оплатить</button>
                           </form>
                    </div>
                </div>
            </div>
        </div>

    <footer class="copyright-session">
        <div class="container">
            <div class="copyright-text-session">
                © 2022 Brand All Rights Reserved.
            </div>

        </div>
    </footer>
  </body>
</html>